# BEGIN DELETE AFTER INSTALL #
composer.lock
# END DELETE AFTER INSTALL #

# Caches
.turbo
.npm
.phpcs.cache.json
.phpunit.result.cache

# Dependencies
node_modules
vendor

# IDE Config Directories
*.code-workspace
.idea
.vscode

# OS-Managed Files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.thumbsdb

# WordPress-Managed Files
/db.php
/object-cache.php
/upgrade/
/uploads/

# Ignore all mu-plugins except our custom ones
/mu-plugins/*
!/mu-plugins/000-wp-environment.php
!/mu-plugins/001-composer.php
!/mu-plugins/index.php
!/mu-plugins/plugin-loader.php

# Ignore all plugins except our custom ones
/plugins/*
!/plugins/index.php
!/plugins/create-wordpress-plugin

# Ignore all themes except our custom ones
/themes/*
!/themes/index.php
!/themes/create-wordpress-theme

# Ignore custom build directories
/plugins/create-wordpress-plugin/build
/themes/create-wordpress-theme/build
