# OS-Managed Files
# IDE Config Directories and Local Environment Files
# Keep patterns in these categories on your local machine in user home
#     git config --global core.excludesFile ~/.gitignore

# Dependencies
/vendor/
/node_modules/
.npm
npm-debug.log
yarn-error.log

# Application
.env
/db.php
/object-cache.php
/upgrade/
/uploads/

# Tests
.phpcs.cache.json
.phpunit.result.cache
