includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	# Level 9 is the highest level
	level: max
	checkGenericClassInNonGenericObjectType: false

	scanDirectories:
		- plugins/elasticsearch-extensions
		- plugins/wp-asset-manager

	paths:
		- mu-plugins/000-wp-environment.php
		- mu-plugins/001-composer.php
		- mu-plugins/plugin-loader.php
		- plugins/create-wordpress-plugin/
		- themes/create-wordpress-theme/

	excludePaths:
		- plugins/create-wordpress-plugin/build/
		- plugins/create-wordpress-plugin/src/post-types/
		- plugins/create-wordpress-plugin/tests/
		- themes/create-wordpress-theme/build/
		- themes/create-wordpress-theme/tests/
