name: Testing Suite

on:
  pull_request:
    branches:
      - production
    types: [opened, synchronize, reopened, ready_for_review]
  # Uncomment and edit the following to run on a schedule.
  # schedule:
  #   - cron: '30 5 * * 0' # Run once per week at 5:30am UTC on Sundays.

jobs:
  php-tests:
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        php: [8.2]
        wordpress: ["latest"]
    uses: alleyinteractive/.github/.github/workflows/php-tests.yml@main
    with:
      php: ${{ matrix.php }}
      wordpress: ${{ matrix.wordpress }}
